@model IEnumerable<OnBoardingTalent.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div id="ProductDiv"></div>
@section Scripts{

    <script src="~/Scripts/react/dist/Products.bundle.js"></script>
}

