@model IEnumerable<OnBoardingTalent.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<div id="CustomerDiv"></div>
@section Scripts{
    <script src="~/Scripts/react/dist/Customers.bundle.js"></script>
}

